<h1 style="margin-bottom: 10px;">Places</h1>

<div style="margin-bottom: 20px;">
  <button type="submit" class="btn btn-primary btn-lg">New Place</button>
</div>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>