<h1 style="margin-bottom: 10px;">Places</h1>

<div style="margin-bottom: 20px;">
  <a href="/places/new" class="btn btn-primary btn-lg">New Place</a>
</div>

<ul class ="list-group list-group-flush">
  <% for place in @places %>
    <li class="list-group-item"><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>